config BNX2X
	bool "Broadcom BNX2X NIC driver"
	default n
	select ZLIB_INFLATE
	help
	  Broadcom Everest 10 Gb network driver (NetXtremeII).

config BNX2X_SRIOV
	bool "Broadcom SR-IOV"
	depends on BNX2X
	default n
	help
	  BNX2X support for SR-IOV (I/O virtualization).

config MLX4_EN
	tristate "Mellanox Technologies 1/10/40Gbit Ethernet support"
	select MLX4_CORE
	select MLX4_INFINIBAND
	help
	  This driver supports Mellanox Technologies ConnectX Ethernet devices.

config MLX4_CORE
	tristate
	default n

config MLX4_DEFAULT_MGM_LOG_ENTRY_SIZE
	int "Default log mgm size (num of qp per mcg)"
	depends on MLX4_CORE
	default 10
	help
	  To activate device managed flow steering when available, set to -1.

config MLX4_INFINIBAND
	tristate
	default n
