config BNX2X
	bool "Broadcom BNX2X NIC driver"
	default n
	help
		Broadcom Everest 10 Gb network driver (NetXtremeII).

config BNX2X_SRIOV
	bool "Broadcom SR-IOV"
	depends on BNX2X
	default n
	help
		BNX2X support for SR-IOV (I/O virtualization).
