*.swp
.bochsout
bochs.out
bochs.log
.bochsrc
bochsrc
mnt
obj
run_bochs.sh
update*
cscope.out
hdd.img
hdd.vdi
*.*~
ivy_errordb.sql
Makelocal
.textmate*
.DS_*
ros-project.tmproj
kern/boot
kern/include/arch
kern/src/arch
Documentation/doxygen/rosdoc
sim/
sim
fs
tools/.*
tools/compilers/gcc-glibc/.*
tools/compilers/gcc-glibc/binutils-2.18
tools/compilers/gcc-glibc/gcc-4.3.2
tools/compilers/gcc-glibc/glibc-2.11.1
tools/compilers/gcc-glibc/install
tools/compilers/gcc-glibc/*-builddir
tools/syscall_server/syscall_server_*
tools/syscall_server/sandbox/
tools/syscall_server/apps/*
tools/syscall_server/test/*
kern/include/2nd-level-sched
kern/include/mapping-layer
kern/include/policy-layer

