*.swp
.bochsout
bochs.out
bochs.log
.bochsrc
bochsrc
mnt
obj
run_bochs.sh
update*
cscope.out
hdd.img
hdd.vdi
*.*~
ivy_errordb.sql
Makelocal
.textmate*
.DS_*
ros-project.tmproj
kern/boot
kern/include/arch
kern/src/arch
doc/rosdoc
sim/
tools/.*
tools/syscall_server/syscall_server_*
tools/syscall_server/sandbox/
tools/syscall_server/apps/*
