# Number of make jobs to spawn.  
MAKE_JOBS := 

RISCV_INSTDIR         := $(HOME)/install/riscv-ros-gcc/
X86_64_INSTDIR        := $(HOME)/install/x86_64-ros-gcc/
X86_64_NATIVE_INSTDIR := $(HOME)/install/x86_64-ros-gcc-native/

