RISCV_INSTDIR := /scratch/klueska/ros-gcc-glibc/install-riscv-ros-gcc/
I686_INSTDIR := /scratch/klueska/ros-gcc-glibc/install-i686-ros-gcc/
X86_64_INSTDIR := /scratch/klueska/ros-gcc-glibc/install-x86_64-ros-gcc/

