menuconfig KERNEL_TESTING
	bool "Kernel testing"
	default n
	help
	  Run unit tests for the kernel

source "kern/src/ktest/Kconfig.postboot"
source "kern/src/ktest/Kconfig.net"

config KTEST_ARENA
	depends on KERNEL_TESTING
	bool "Arena kernel test"
	default y
	help
	Run the arena tests
