menuconfig NETWORKING
	bool "Networking Support"
	default y
	help
		Basic networking (TCP, UDP, IP, etc).

if NETWORKING

config SOCKET
	bool "Socket support"
	default y
	help
		Early socket work.  Say 'n' if you have issues compiling.

config ETH_AUDIO
	depends on NETWORKING && X86
	bool "Ethernet audio"
	default n
	help
		Build old support for David Wessel's ethernet audio device.  This is
		less a driver than a NIC-level "intercept".

endif # NETWORKING

